{% extends "base.html" %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h1>Supertracker</h1>
    <p>This is a simple Python app that allows you to create your own email tracking pixel and access the data from that pixel</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/zebulgar/supertracker"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy of Supertracker, head over to the README in the repository tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How supertracker works</h3>
      <ul>
        <li>When you open email an email with an image in it, most email clients will have your phone load the image from the server it is hosted on</li>

        <li>By hitting that server, you are revealing the device, location, and time you are opening that email</li>
        <li>Supertracker lets anyone make their own tracking pixel and then see everywhere that pixel has been accessed from</li>
      </ul>
      <h3><span class="glyphicon glyphicon-info-sign"></span> How to prevent yourself from being tracked</h3>
      <ul>
        <li>Use an email client that does proxy image loading so your location isn't revealed since they load the image onto their own server before sending it to you</li>

        <li>Disable remote image loading in your email client. Here's a guide for GMail (<a href="https://www.wired.com/2013/12/turn-gmail-auto-image-loading-off/" target="_blank">link</a>)</li>
        <li> And the real permanent solution is to demand that your email clients immediately load all external images the moment the email is received rather than opened, so none of your information by using email. For example I believe this is the head of GMail and could implement this feature (<a href="https://www.linkedin.com/in/bradleyhorowitz/" target="_blank">link</a>) </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Choose your Pixel and Username!</h3>
      <br>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
      </div>
      <br>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Select Your Pixel Image
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
          <li><a href="#" data-value="pikachu">Pikachu</a></li>
          <li><a href="#" data-value="spyglass">Spyglass</a></li>
          <li><a href="#" data-value="transparent_pixel">Transparent Pixel</a></li>
        </ul>
      </div>
      <br>
      <a type="button" class="btn btn-primary btn-create"><span class="glyphicon glyphicon-eye-open"></span> Create Pixel</a>
    </div>
  </div> <!-- row -->
</div>

<script type="text/javascript">
  $(".dropdown-menu li a").click(function() {
    $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
    $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
  });
  $(".btn-create").click(function() {
    username = $('.form-control').val();
    pixel = $('.dropdown-toggle').val();
    if (username == '' || pixel == '') {
      //throw error
      console.log("ERROR");
    } else {
      // redirect
      window.location.replace("/pixel?username="+username+"&pixel="+pixel);
    }  
  });
</script>

{% endblock %}
